@{
    ViewData["Title"] = $"Logged in User: { User.Identity.Name}";
}
<h2>User Name : </h2><h2>@ViewData["UserName"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
